
    <div class="tri-rec-controls" style="padding: 15px;">
        <div class="clearfix">
            <div class="pull-left" style="margin-right: 5px; width: 80px;">
                Intensity:
            </div>
            <div class="pull-left" style="margin-right: 5px;">
                <div slider="mod_tri_rec.intensitySlider">

                </div>
            </div>
            <div class="pull-left">
                {{roundTo(mod_tri_rec.intensitySlider.value, 3)}}
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-left" style="margin-right: 5px; width: 80px;">
                Brightness:
            </div>
            <div class="pull-left" style="margin-right: 5px;">
                <div slider="mod_tri_rec.brightnessSlider">

                </div>
            </div>
            <div class="pull-left">
                {{roundTo(mod_tri_rec.brightnessSlider.value, 2)}}
            </div>
        </div>
        <div class="clearfix">
            <div class="pull-left" style="margin-right: 5px; width: 80px;">
                Size:
            </div>
            <div class="pull-left" style="margin-right: 5px;">
                <div slider="mod_tri_rec.sizeSlider">

                </div>
            </div>
            <div class="pull-left">
                {{roundTo(mod_tri_rec.sizeSlider.value, 2)}}
            </div>
        </div>
    </div>